{% extends "layout.html" %}

{% block title %}
    C$50 Finance: Transaction History
{% endblock %}

{% block main %}
    <table action="/history" method="get" class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        {% for transaction in transactions %}
            <tbody>
                <tr>
                    <td class="text-start">{{ transaction.symbol }}</td>
                    <td class="text-end">{{ transaction.shares }}</td>
                    <td class="text-end">{{ transaction.price | usd }}</td>
                    <td class="text-end">{{ transaction.transacted }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}

